html, body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

#info {
  padding: 10px;
}

canvas {
  display: block;
  margin: 0 auto;
}
